$desktop: 1280px;
$tablet: 1024px;
$phone: 320px;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}