.rating {
  &__list{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;

    &--column {
      flex-direction: column;
    }
  }

  &__button {
    background-color: var(--color-black);
    color: var(--color-white);
    border: var(--border-blue);
    border-radius: var(--border-radius-sm);
    width: 200px;
    height: 40px;
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: 400;
    text-align: left;
    padding: 10px 16px;
    transition: background-color var(--transition-duration);
    cursor: pointer;

    @include hover {
      background-color: var(--color-blue);
    }

    &:focus-visible {
      background-color: var(--color-blue);
    }

    &--active {
      background-color: var(--color-blue);
    }

    &--round {
      width: 40px;
      padding: 0;
      height: 40px;
      text-align: center;
      font-size: var(--caption-font-size);
      line-height: var(--caption-line-height);
      border-radius: var(--border-radius-round);
    }
  }
}